xtee-samples/wsdl/xtee_requests_find_usage_mta/mta_find_usage.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="dumonitor" targetNamespace="http://dumonitor.x-road.eu/producer" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" xmlns:tns="http://dumonitor.x-road.eu/producer">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dumonitor.x-road.eu/producer">
      <xsd:import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>

      <xsd:element name="findUsage" type="tns:QueryOffset"/>

      <xsd:element name="findUsageResponseMTA">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="usage" type="tns:AuditRecordMTA" maxOccurs="unbounded" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="QueryOffset">
        <xsd:sequence>
          <xsd:element type="xsd:integer" name="offset" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title>Esimese tagastatava kirje jrknr</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element type="xsd:integer" name="limit" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title>Tagastatavate kirjete arv</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AuditRecordMTA">
        <xsd:sequence>
          <xsd:element type="xsd:dateTime" name="logtime" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title>Isikuandmete töötlemise aeg</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element type="xsd:string" name="action" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title>Tegevus</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element type="xsd:string" name="receiver" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title>Isikuandmeid vastu võtnud osapool</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="requestHeader">
    <wsdl:part name="client" element="xrd:client"/>
    <wsdl:part name="service" element="xrd:service"/>
    <wsdl:part name="id" element="xrd:id"/>
    <wsdl:part name="userId" element="xrd:userId"/>
    <wsdl:part name="issue" element="xrd:issue"/>
    <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
  </wsdl:message>

  <wsdl:message name="findUsage">
    <wsdl:part name="body" element="tns:findUsage"/>
  </wsdl:message>
  <wsdl:message name="findUsageResponse">
    <wsdl:part name="body" element="tns:findUsageResponseMTA"/>
  </wsdl:message>

  <wsdl:portType name="dumonitorPortType">
    <wsdl:operation name="findUsage">
      <wsdl:documentation>
        <xrd:title>Päring andmekogust isikuandmete töötlemise kohta</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:findUsage"/>
      <wsdl:output message="tns:findUsageResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="dumonitorBinding" type="tns:dumonitorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findUsage">
      <soap:operation soapAction="" style="document"/>
      <xrd:version>v1</xrd:version>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="dumonitorService">
    <wsdl:port binding="tns:dumonitorBinding" name="dumonitorServicePort">
      <soap:address location="http://example.org/xroad-endpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
