xtee-samples/wsdl/xtee_requests_mydata/mydata.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://sk-certdata.x-road.eu/producer"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
        targetNamespace="http://sk-certdata.x-road.eu/producer">
 
    <!--#################################################################################################################### -->
    <!--TYPES -->
    <!--#################################################################################################################### -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://sk-certdata.x-road.eu/producer">
            <xsd:import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
            
            <xsd:element name="GetDocumentsAndCertificates">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="semanticPersonIdentifier" type="tns:PersonCodeType">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <xrd:title>Natural person semantic identifier according to ETSI EN 319 412-1</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
 
            <xsd:element name="GetDocumentsAndCertificatesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="documentItem" type="tns:DocumentItemType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
 
            <xsd:element name="GetCertificateHistory">
                <xsd:complexType>
                    <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="1" name="semanticPersonIdentifier" type="tns:PersonCodeType">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <xrd:title>Natural person semantic identifier according to ETSI EN 319 412-1</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="certificateSerialNumber" type="tns:CertificateSerialNumberType">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <xrd:title>Unique serial number for certificate in given CA chain</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="certificateAuthority" type="xsd:string">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <xrd:title>Certificate issuing CA</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetCertificateHistoryResponse">            
                  <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="certificateHistoryItem" type="tns:CertificateHistoryItemType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetCertificateActivity">
                <xsd:complexType>
                    <xsd:sequence>
                          <xsd:element maxOccurs="1" minOccurs="1" name="semanticPersonIdentifier" type="tns:PersonCodeType">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <xrd:title>Natural person semantic identifier according to ETSI EN 319 412-1</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="certificateSerialNumber" type="tns:CertificateSerialNumberType">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <xrd:title>Unique serial number for certificate in given CA chain</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="1" name="certificateAuthority" type="xsd:string">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <xrd:title>Certificate issuing CA</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="startDate" type="xsd:dateTime">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <xrd:title>Transaction search period start</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                          <xsd:element maxOccurs="1" minOccurs="1" name="endDate" type="xsd:dateTime">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <xrd:title>Transaction search period end</xrd:title>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
 
            <xsd:element name="GetCertificateActivityResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="maxNrOfResultsExceeded" type="xsd:boolean"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="certificateActivityItem" type="tns:CertificateActivityItemType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
 
            <xsd:complexType name="CertificateActivityItemType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="activityName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Certificate activity type identifier</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="timestamp" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Timestamp of the event from CA audit log</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ipAddress" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>IP address of the relying party system that initiated the transaction in SK system</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
 
            <xsd:complexType name="CertificateHistoryItemType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="eventType" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Document history event type</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="timestamp" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Timestamp of the event from CA audit log</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
 
            <xsd:complexType name="DocumentItemType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="semanticPersonIdentifier" type="tns:PersonCodeType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Natural person semantic identifier according to ETSI EN 319 412-1</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="givenName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Given name on document</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="surname" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Surname on document</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="documentType" type="tns:DocumentTypeType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Document type</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="documentNumber" type="tns:DocumentNumberType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Document identifier</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="documentStatus" type="tns:DocumentStatusType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Document status</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="notValidAfter" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Document validity end date and time</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="issuingDate" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Document issuing date</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="certificates" type="tns:CertificateItemType"/>
                </xsd:sequence>
            </xsd:complexType>
 
            <xsd:complexType name="CertificateItemType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="certificateSerialNumber" type="tns:CertificateSerialNumberType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Unique serial number for certificate in given CA chain</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="certificateType" type="tns:CertificateTypeType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Certificate type</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="notValidBefore" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Certificate validity start date</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="notValidAfter" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Certificate validity end date</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="certificateStatus" type="tns:CertificateStatusType">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Certificate status during request's response</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="statusChangedDate" type="xsd:dateTime">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Latest certificate status change date</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="certificateAuthority" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>Certificate issuing CA</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="certificate" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xrd:title>X.509 v3 certificate DER format base64 encoded</xrd:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
                                
            <xsd:simpleType name="UserOfficeIdType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[a-zA-Z0-9_-]{2,20}"/>
                </xsd:restriction>
            </xsd:simpleType>
        
            <xsd:simpleType name="CountryType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Z]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
 
            <xsd:simpleType name="DocumentNumberType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[A-Z0-9-]{2,30}"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:simpleType name="RevocationReasonType">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9]{1,2}"/>
                </xsd:restriction>
            </xsd:simpleType>
 
             <xsd:simpleType name="CertificateTypeType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AUTH" />
                    <xsd:enumeration value="SIGN" />
                </xsd:restriction>
             </xsd:simpleType>
  
             <xsd:simpleType name="CertificateStatusType"> 
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ISSUED"/>
                    <xsd:enumeration value="SUSPENDED"/>
                    <xsd:enumeration value="REVOKED"/>
                </xsd:restriction>
            </xsd:simpleType>
 
            <xsd:simpleType name="DocumentStatusType"> 
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="PENDING"/>
                    <xsd:enumeration value="ISSUED"/>
                    <xsd:enumeration value="REVOKED"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:simpleType name="DocumentTypeType"> 
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ID_CARD"/>
                    <xsd:enumeration value="DIGI_ID"/>
                    <xsd:enumeration value="DIP_CARD"/>
                    <xsd:enumeration value="M_ID"/>
                </xsd:restriction>
            </xsd:simpleType>
    
            <xsd:simpleType name="PersonCodeType"> 
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="PNOEE-[1,2,3,4,5,6][0-9]{2}((0[1-9])|(1[0-2]))((0[1-9])|([1-2][0-9])|(3[0,1]))[0-9]{4}"/>
                </xsd:restriction>
            </xsd:simpleType>
 
            <xsd:simpleType name="CertificateSerialNumberType"> 
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1" />
                    <xsd:maxLength value="65" />
                </xsd:restriction>
            </xsd:simpleType>
 
        </xsd:schema>
    </wsdl:types>
 
    <!--#################################################################################################################### -->
    <!--MESSAGES -->
    <!--#################################################################################################################### -->
    <wsdl:message name="GetDocumentsAndCertificates">
        <wsdl:part name="body" element="tns:GetDocumentsAndCertificates"/>
    </wsdl:message>
 
    <wsdl:message name="GetDocumentsAndCertificatesResponse">
        <wsdl:part name="body" element="tns:GetDocumentsAndCertificatesResponse"/>
    </wsdl:message>
 
    <wsdl:message name="GetCertificateHistory">
        <wsdl:part name="body" element="tns:GetCertificateHistory"/>
    </wsdl:message>
 
    <wsdl:message name="GetCertificateHistoryResponse">
        <wsdl:part name="body" element="tns:GetCertificateHistoryResponse"/>
    </wsdl:message>
      
    <wsdl:message name="GetCertificateActivity">
        <wsdl:part name="body" element="tns:GetCertificateActivity"/>
    </wsdl:message>
 
    <wsdl:message name="GetCertificateActivityResponse">
        <wsdl:part name="body" element="tns:GetCertificateActivityResponse"/>
    </wsdl:message>
 
    <wsdl:message name="requestHeader">
        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
        <wsdl:part name="requestHash" element="xrd:requestHash"/>
    </wsdl:message>
 
    <wsdl:portType name="sk-certdataPortType">
 
        <wsdl:operation name="GetDocumentsAndCertificates">
            <wsdl:documentation>
                <xrd:title>Documents and certificates request. Request outputs documents and certificates issued to the person according to the id-code.</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:GetDocumentsAndCertificates" name="GetDocumentsAndCertificates"/>
            <wsdl:output message="tns:GetDocumentsAndCertificatesResponse" name="GetDocumentsAndCertificatesResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="GetCertificateHistory">
            <wsdl:documentation>
                <xrd:title>Returns all certificate status change events for single certificate object</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:GetCertificateHistory" name="GetCertificateHistory"/>
            <wsdl:output message="tns:GetCertificateHistoryResponse" name="GetCertificateHistoryResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="GetCertificateActivity">
            <wsdl:documentation>
                <xrd:title>Returns all certificate usage events from requested time period. Number of items will be limited to 10000 rows.</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:GetCertificateActivity" name="GetCertificateActivity"/>
            <wsdl:output message="tns:GetCertificateActivityResponse" name="GetCertificateActivityResponse"/>
        </wsdl:operation>
 
    </wsdl:portType>
 
    <!--#################################################################################################################### -->
    <!--BINDING -->
    <!--#################################################################################################################### -->
    <wsdl:binding name="sk-certdataBinding" type="tns:sk-certdataPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 
        <wsdl:operation name="GetDocumentsAndCertificates">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:requestHeader" part="requestHash" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:requestHeader" part="requestHash" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetCertificateHistory">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:requestHeader" part="requestHash" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:requestHeader" part="requestHash" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetCertificateActivity">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:requestHeader" part="requestHash" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
                <soap:header message="tns:requestHeader" part="requestHash" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
 
    <!--#################################################################################################################### -->
    <!--SERVICE -->
    <!--#################################################################################################################### -->
    <wsdl:service name="sk-certdata">
        <wsdl:port binding="tns:sk-certdataBinding" name="sk-certdataPort">
            <soap:address location="http://localhost:8080/mydata"/>
            <xrd:title>sk-certdata</xrd:title>
            <xrd:address producer="sk-certdata"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>