xtee-samples/wsdl/xtee_requests_makis/makis.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" xmlns:tns="http://makis.x-road.ee/producer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://makis.x-road.ee/producer/">
    <wsdl:types>

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xrd="http://x-rd.net/xsd/xroad.xsd" xmlns:sc="http://makis.x-road.ee/producer/" targetNamespace="http://makis.x-road.ee/producer/">

  <import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>

  <element name="maamaksu-andmed" type="sc:voidType"/>
  <element name="maamaksu-andmedResponse">
    <complexType>
      <sequence>
        <element name="response" type="sc:maamaksu-andmedResponseType"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="maamaksu-andmedResponseType">
    <sequence>
      <element name="faultCode" type="string" minOccurs="0"/>
      <element name="faultString" type="string" minOccurs="0"/>
      <element name="rr-aadress" type="string" minOccurs="0">
        <annotation>
          <appinfo>
            <xrd:title>Elukoha aadress Rahvastikuregistri andmetel
            </xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="omavalitsused" type="sc:omavalitsusedType">
        <annotation>
          <appinfo>
            <xrd:title>Asukoha omavalitsused</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="omavalitsusedType">

    <sequence>
      <element name="omavalitsus" type="sc:omavalitsusType" minOccurs="0" maxOccurs="unbounded" nillable="true">
        <annotation>
          <appinfo>
            <xrd:title>Omavalitsus</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="omavalitsusType">
    <sequence>
      <element name="kood" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Omavalitsuse kood</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="nimi" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Omavalitsuse nimi</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="maakasutused" type="sc:maakasutusedType">
        <annotation>
          <appinfo>
            <xrd:title>Maakasutused</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="hooneyhistud" type="sc:hooneyhistudType">
        <annotation>
          <appinfo>
            <xrd:title>Hooneühistud</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="hooneyhistudType">
    <sequence>
      <element name="hooneyhistu" type="sc:hooneyhistuType" minOccurs="0" maxOccurs="unbounded" nillable="true">
        <annotation>
          <appinfo>
            <xrd:title>Hooneühistu</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="hooneyhistuType">
    <sequence>
      <element name="registrikood" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Registrikood</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="nimi" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Nimi</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="maakasutusedType">
    <sequence>
      <element name="maakasutus" type="sc:maakasutusType" minOccurs="0" maxOccurs="unbounded" nillable="true">
        <annotation>
          <appinfo>
            <xrd:title>Maakasutus</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="maakasutusType">
    <sequence>
      <element name="kood" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Maakasutuse kood</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="alates" type="date">
        <annotation>
          <appinfo>
            <xrd:title>Andmed alates</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="osalus" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Arvutuslik omandiosa (osa/osadest)</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="maamaksu-arvutatakse" type="boolean">
        <annotation>
          <appinfo>
            <xrd:title>Kas antud maakasutus osaleb arvutuses</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="markus" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Märkus</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="soodustused" type="sc:isoodustusedType">
        <annotation>
          <appinfo>
            <xrd:title>Maamaksu soodustused</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="kinnisasi" type="sc:kinnisasiType" minOccurs="0">
        <annotation>
          <appinfo>
            <xrd:title>Kinnisasi</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="maayksus" type="sc:maayksusType">
        <annotation>
          <appinfo>
            <xrd:title>Maaüksus</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="isoodustusedType">
    <sequence>
      <element name="isoodustus" type="sc:isoodustusType" minOccurs="0" maxOccurs="unbounded" nillable="true">
        <annotation>
          <appinfo>
            <xrd:title>Isikuline maamaksu soodustus</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="isoodustusType">
    <sequence>
      <element name="liik" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Liik</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="summa" type="string" minOccurs="0">
        <annotation>
          <appinfo>
            <xrd:title>Summa</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="protsent" type="int" minOccurs="0">
        <annotation>
          <appinfo>
            <xrd:title>Protsent</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="pindala" type="string" minOccurs="0">
        <annotation>
          <appinfo>
            <xrd:title>Pindala</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="kinnisasiType">
    <sequence>
      <element name="registriosa" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Registriosa number</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="liik" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Liik</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="korter" type="string" minOccurs="0">
        <annotation>
          <appinfo>
            <xrd:title>Korteri tähis</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="hoonestusoigusega" type="boolean">
        <annotation>
          <appinfo>
            <xrd:title>Kas antud kinnistule on seatud hoonestusõigus
            </xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="kasutusvaldusega" type="boolean">
        <annotation>
          <appinfo>
            <xrd:title>Kas antud kinnistule on seatud kasutusvaldus
            </xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="maayksusType">
    <sequence>
      <element name="tunnus" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Tunnuskood</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="taadress" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Aadress</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="pindala" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Pindala m²</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="vabastused" type="sc:vabastusedType">
        <annotation>
          <appinfo>
            <xrd:title>Maksuvabastused</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="vabastusedType">
    <sequence>
      <element name="vabastus" type="sc:vabastusType" minOccurs="0" maxOccurs="unbounded" nillable="true">
        <annotation>
          <appinfo>
            <xrd:title>Maa maksuvabastus</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="vabastusType">
    <sequence>
      <element name="liik" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Liik</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="summa" type="string" minOccurs="0">
        <annotation>
          <appinfo>
            <xrd:title>Summa</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="protsent" type="int" minOccurs="0">
        <annotation>
          <appinfo>
            <xrd:title>Protsent</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="pindala" type="string" minOccurs="0">
        <annotation>
          <appinfo>
            <xrd:title>Pindala</xrd:title>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="voidType">
    <annotation>
      <appinfo>
        <xrd:technotes>Tühi väärtus.</xrd:technotes>
      </appinfo>
    </annotation>
    <sequence/>
  </complexType>
</schema>

</wsdl:types>
    <wsdl:message name="requestHeader">
        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="issue" element="xrd:issue"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>
    <wsdl:message name="maamaksu-andmed">
        <wsdl:part name="body" element="tns:maamaksu-andmed"/>
    </wsdl:message>
    <wsdl:message name="maamaksu-andmedResponse">
        <wsdl:part name="body" element="tns:maamaksu-andmedResponse"/>
    </wsdl:message>
    <wsdl:portType name="servicePortType">
        <wsdl:operation name="maamaksu-andmed">
          <wsdl:documentation>
            <xrd:title xml:lang="et">Maamaksu andmed</xrd:title>
          </wsdl:documentation>
          <wsdl:input message="tns:maamaksu-andmed"/>
            <wsdl:output message="tns:maamaksu-andmedResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="serviceBinding" type="tns:servicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="maamaksu-andmed">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="xroadeuService">
        <wsdl:port binding="tns:serviceBinding" name="xroadeuServicePort">
            <soap:address location="http://example.org/xroad-endpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>